.cart-link {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -25px;

  background: red;
  color: white;
  font-size: 12px;

  padding: 3px 6px;
  border-radius: 50%;
}