header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  flex-wrap: wrap; /* 🔥 важно */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #eee;
  background: white;
}

.nav-links {
  display: flex;
  gap: 27px;
  margin-left: auto;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  color: #2e7d32;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
}

h3 {
  margin: 10px 0;
}
main.container {
  min-height: 80vh;
}
.cart-link {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -25px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 50%;
  font-weight: bold;
}
.hero {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: linear-gradient(
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.4)
    ),
    url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6");

  background-size: cover;
  background-position: center;

  color: white;
  border-radius: 16px;
}
.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 16px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 24px;
}
.hero-btn {
  background: #2e7d32;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
}

.hero-btn:hover {
  background: #1b5e20;
}
.logo {
  font-weight: 700;
  white-space: nowrap; /* 🔥 предотвратява чупене */
}